/* AboutUs.css */

/* Styling for the main section containing the about us content */
.about-us {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to top, #69b1ff, #002c8c);
  color: #fff;
  font-family: "Arial", sans-serif;
  text-align: center;
}

/* Styling for the content within the main section */
.content {
  background: rgba(255, 255, 255, 0.9);
  padding: 24px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 100%;
  text-align: left;
}

/* Styling for the heading in the content */
.content h2 {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bolder;
  margin-bottom: 20px;
  background: linear-gradient(#69b1ff, #002c8c);
  -webkit-background-clip: text; /* Apply the gradient to the text */
  background-clip: text; /* Apply the gradient to the text */
  color: transparent; /* Make the text color transparent */
}

/* Styling for paragraphs within the content */
.content p {
  font-size: 16px;
  line-height: 1.6;
  font-weight: bold;
  color: #001529; /* Darker color for paragraph text */
}

/* Styling for contact information at the bottom */
.contact-info {
  font-size: 14px;
  color: #666;
  margin-top: 20px;
}

/* Styling for links in the contact information */
.contact-info a {
  color: #1890ff;
  text-decoration: none;
}

/* Hover effect for links in the contact information */
.contact-info a:hover {
  text-decoration: underline;
}
